{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <script src="./path/to/dropzone.js"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>  
    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    console.log(url);
  


  
   var clientID = Math.random() * Math.random() * 300;
   var socket = new WebSocket('ws://p4-emiliehasselmann-emiliehasselmann408236.codeanyapp.com:8765/');
   
    
    var pathA = new paper.Path();
    pathA.strokeColor = 'blue';
    pathA.strokeColor.hue += clientID;
    var points = [];
  
   var circle = new paper.Path.Circle(new paper.Point(80, 50), 30);
   circle.fillColor = 'blue';
 
  
   
  
      tool.onMouseMove = function (event) {
      pathA.lineTo(event.point);
      //console.log(event.point);
      points.push(event.point);
      var msg = {
        id: clientID,
        x: event.point.x, 
        y: event.point.y, 
        color: pathA.strokeColor,
        points: points
      };
    
      socket.send(JSON.stringify(msg));
  }
     
     
     
     
     
     
     
     
     socket.onmessage = function(receivedMessage) {
       if (url == "http://p4-emiliehasselmann-emiliehasselmann408236.codeanyapp.com:8000/draw/?size=large") {
         
       
     
       var point = JSON.parse(receivedMessage.data);
       console.log(point.id);
   
       var pathB = new paper.Path();
       pathB.strokeColor = "blue";
       pathB.strokeColor.hue = pathB.strokeColor.hue + point.id;
       
         
       var lastPoint = point.points[point.points.length - 1];
       var second = point.points[point.points.length - 2];
       var lastx = lastPoint[1];
       var lasty = lastPoint[2];
       var fromx = second[1];
       var fromy = second[2];
       //console.log([lastx, lasty]);
       //console.log(lasty);

   
      pathB.add(new paper.Point(fromx, fromy));
      pathB.add(new paper.Point(lastx, lasty));
       }

      
       
       
}; 
  
  
  


// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
  
  window.ondeviceorientation = function(event) {
    var x = event.gamma;
    if (x < 0) {
      if (pathA.strokeColor = 'blue') {
        pathA.strokeColor = 'red';
      } else{
        pathA.strokeColor = 'blue';
      }
    }  
  };
 
  
  
 
  
  window.addEventListener('devicemotion', function(event) {
    var firstx = event.accelerationIncludingGravity.x;
    var firsty = event.accelerationIncludingGravity.y;
    var firstz = event.accelerationIncludingGravity.z; 
    var nextx = 0;
    var nexty = 0;
    var nextz = 0; 
  }, false);
      
    if (Math.abs(firstx - nextx + firsty - nexty + firstz - nextz) > 3) {
      paper.project.activeLayer.removeChildren();
    }
    
    nextx = firstx;
    nexty = firsty;
    nextz = firstz; //this isnt getting called for some reason, like its not highlighted 
    
  
 
  


</script>
</html>